body, html {
  margin: 0; padding: 0;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #F0F5F6;
  color: #37404A;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#container {
  padding: 5px;
}

#container h1 {
  margin-left: 10px;
}

#form-container {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 50%;
}

#form {
  height:100%;
  width:100%;
  border: none;
  border-left: 1px solid grey;
}

#time {
  position: absolute;
  bottom: 0;
  top: 46%;
  left: 0;
  right: 50%;
  padding: 5px;
}

#intro {
  margin-left: 10px;
}

#answers {
  position: absolute;
  padding: 5px;
  bottom: 0;
  top: 50%;
  left: 0;
  right: 50%;
  border-top: 1px solid grey;
}

#name {
  margin-top: 10px;
  background-color: #FFF;
  border-radius: 3px;
  border: 2px solid #8BCBCA;
  padding: 5px;
  margin-left: 10px;
}

#name-label {
  margin-left: 10px;
  color: black;
  font-weight: 500;
}

#create_form {
  font-size: 16px;
  margin: 10px;
  margin-top: 20px;
  border-radius: 3px;
  border: 2px solid;
  padding: 10px 20px;
  transition: background-color 0.2s ease-out 0s;
  color: #8BCBCA;
  background-color: #F0F5F6;
}

#create_form:hover {
  cursor: pointer;
  color: #FFF;
  text-decoration: none;
  border-color: #8BCBCA;
  background-color: #8BCBCA;
}

#loading_indicator {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    z-index: 1000000;
}

.hide {
  display: none;
}

.pulser {
    position: relative;
  }

  .text {
    position: absolute;
    width: 200px;
    margin-left: 100px;
    text-align: center;
    margin-top: 190px;
  }
  .pulse {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .pulse1 {
    border: 15px solid #25e1f9;
    -webkit-animation: pulse1 4s linear infinite;
    -moz-animation: pulse1 4s linear infinite;
    animation: pulse1 4s linear infinite;
  }

  .pulse2 {
    border: 10px solid #25e1f9;
    -webkit-animation: pulse2 4s linear infinite;
    -moz-animation: pulse2 4s linear infinite;
    animation: pulse2 4s linear infinite;
  }

  .pulse3 {
    border: 12px solid #25e1f9;
    -webkit-animation: pulse3 4s linear infinite;
    -moz-animation: pulse3 4s linear infinite;
    animation: pulse3 4s linear infinite;
  }

  .pulse4 {
    border: 20px solid #25e1f9;
    -webkit-animation: pulse4 4s linear infinite;
    -moz-animation: pulse4 4s linear infinite;
    animation: pulse4 4s linear infinite;
  }

  /* moz */
  @-moz-keyframes pulse1 {
    0% { -moz-transform: scale(0); opacity: 0; }
    20% { -moz-transform: scale(0); opacity: 0; }
    40% { -moz-transform: scale(.2); opacity: .4; }
    60% { -moz-transform: scale(.4); opacity: .6; }
    100% { -moz-transform: scale(.6); opacity: 0; }
  }

  @-moz-keyframes pulse2 {
    0% { -moz-transform: scale(0); opacity: 0; }
    25% { -moz-transform: scale(.2); opacity: .7; }
    40% { -moz-transform: scale(.4); opacity: .5; }
    65% { -moz-transform: scale(.6); opacity: .3; }
    100% { -moz-transform: scale(.8); opacity: 0; }
  }

  @-moz-keyframes pulse3 {
    0% { -moz-transform: scale(.1); opacity: 0; }
    25% { -moz-transform: scale(.3); opacity: .7; }
    50% { -moz-transform: scale(.5); opacity: .5; }
    75% { -moz-transform: scale(.6); opacity: .3; }
    100% { -moz-transform: scale(.66); opacity: 0; }
  }

  @-moz-keyframes pulse4 {
    0% { -moz-transform: scale(.1); opacity: 0; }
    30% { -moz-transform: scale(.3); opacity: .6; }
    80% { -moz-transform: scale(.6); opacity: .4; }
    100% { -moz-transform: scale(.8); opacity: 0; }
  }

  /* webkit */
  @-webkit-keyframes pulse1 {
    0% { -webkit-transform: scale(0); opacity: 0; }
    20% { -webkit-transform: scale(0); opacity: 0; }
    40% { -webkit-transform: scale(.2); opacity: .4; }
    60% { -webkit-transform: scale(.4); opacity: .6; }
    100% { -webkit-transform: scale(.6); opacity: 0; }
  }

  @-webkit-keyframes pulse2 {
    0% { -webkit-transform: scale(0); opacity: 0; }
    25% { -webkit-transform: scale(.2); opacity: .7; }
    40% { -webkit-transform: scale(.4); opacity: .5; }
    65% { -webkit-transform: scale(.6); opacity: .3; }
    100% { -webkit-transform: scale(.8); opacity: 0; }
  }

  @-webkit-keyframes pulse3 {
    0% { -webkit-transform: scale(.1); opacity: 0; }
    25% { -webkit-transform: scale(.3); opacity: .7; }
    50% { -webkit-transform: scale(.5); opacity: .5; }
    75% { -webkit-transform: scale(.6); opacity: .3; }
    100% { -webkit-transform: scale(.66); opacity: 0; }
  }

  @-webkit-keyframes pulse4 {
    0% { -webkit-transform: scale(.1); opacity: 0; }
    30% { -webkit-transform: scale(.3); opacity: .6; }
    80% { -webkit-transform: scale(.6); opacity: .4; }
    100% { -webkit-transform: scale(.8); opacity: 0; }
  }
